.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
    gap: 25px;
}

.main-title {
    font-size: 36px;
    color: #4a5568;
    margin-bottom: 20px;
}
